@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*Utility*/
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 80%);
    color: #fff;
}

.red{
    color: red;
    padding-bottom:10px;
}

.date{
    background-color: #20c997;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
    display: inline;
    font-size: 12px;
    margin-bottom: 10px;
}

.container1{
    max-width: 95vw;
    margin: auto;
}

.container2{
    max-width: 85vw;
    margin: auto;
}

.gr{
    color: #04f7ae;
}

.line{
    background-color: #04f7ae;
    width: 90px;
    height: 2px;
    position: relative;
    margin-top: 5px;
    left: 46%;
    margin-bottom: 90px;
}

.light{
    color: #4d4d4d;
}

.large{
    font-size: 50px;
    font-weight: bold;
    color: #8d8d8d;
}

/*Header*/
#header{
    height: 100vh;
    width: 100vw;
    background: url('../img/swdeveloper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#header #navbar{
   margin-top: 20px;
}

#header #navbar .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #navbar .nav-content h1{
    font-weight: bold;
}

#header #navbar .nav-content h1 a{
    color: #fff;
    
}

#header #navbar .nav-content ul{
    display: flex;
    align-items: center;
}

#header #navbar .nav-content ul li a{
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}

#header #navbar .nav-content ul li a:hover{
    color: #20c997;
}

#header #navbar .nav-content #icons a{
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}

#header #navbar .nav-content #icons a .fa-twitter{
    color: rgb(16, 150, 240);
}

#header #navbar .nav-content #icons a .fa-github{
    color: #04f7ae;
}

#header #navbar .nav-content #icons a .fa-linkedin-in{
    color: #046df7;
}

#header .content2{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .content2 #typed{
    font-size: 50px;
}

#header .content2 p{
    font-size: 20px;
}

#header .content2 a{
    border: 1px #04f7ae solid;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    border-radius: 20px;
    transition: all ease-in-out 0.5s;
}


#header .content2 a:hover{
    background-color: #04f7ae;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    padding:10px;
    align-items: center;
    top:200%;
}



.nav-item a{
   display: inline-block;
   margin-right: 20px;
   color: #fff;
   transition: all ease-in-out 0.5s;
}

.nav-link:hover{

    color: #f65772;

    color:rgb(216, 74, 97)
}

.active li{
    margin-bottom: 20px;
}

/*About*/
#about{
    margin-top: 150px;
    margin-bottom: 90px;
}

#about #title{
    text-align: center;
}

#about .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#about .about-content .about-left{
    width: 800px;
}

#about .about-content .about-left h1{
    margin-bottom: 20px;
}

#about .about-content .about-right ul li{
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-bottom: 20px;
}

#about .about-content .about-right ul li p{
    display: inline;
    margin-bottom: 10px;
}

#about #stats{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1100px;
    margin: auto;
}

#about #stats .stat{
    border-right: 1px dotted #4d4d4d;
    margin-right: 50px;
}

/*What i do*/
#what_i_do{
    background-color: #f3f3f3;
    padding-top: 70px;
    margin-bottom: 60px;
}

#what_i_do h1{
    text-align: center;
}

#what_i_do .line{
    left: 46.7%;
    margin-bottom: 90px;
}

#what_i_do .do-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#what_i_do .do-content .do-left,
#what_i_do .do-content .do-right{
    width: 500px;
}

#what_i_do .do-content .do-left .b-1,
#what_i_do .do-content .do-right .b-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#what_i_do .do-content .do-left .b-1 h1,
#what_i_do .do-content .do-right .b-1 h1{
    margin-bottom: 10px;
    font-size: 20px;
}

#what_i_do .do-content .do-left .b-1 p,
#what_i_do .do-content .do-right .b-1 p{
    font-size: 16px;
}

#what_i_do .do-content .do-left .b-1 i,
#what_i_do .do-content .do-right .b-1 i{
    font-size: 40px;
    margin-right: 20px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 2px 20px -2px rgba(0,0,0,0.25);
    border-radius: 10px;
    color: #09b883;
}

#what_i_do .do-content .do-left .b-1 .fa-mobile,
#what_i_do .do-content .do-right .b-1 .fa-mobile{
    padding: 15px 24px;
}

/*resume*/
#resume{
    padding-top: 70px;
}

#resume h1{
    text-align: center;
}

#resume .line{
    left: 46.8%;
}

#resume .resume-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#resume .resume-content .res-tit{
    font-size: 20px;
    margin-bottom: 40px;
}

#resume .resume-content .flex .box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#resume .resume-content .flex .box p{
    font-size: 14px;
}

#resume .resume-content .flex .box h2{
    font-size: 18px;
    padding: 15px 0px 10px 0px;
}

.download{
    color: #333;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 8px 10px;
    position: relative;
    left: 45%;
    display: inline-block;
    margin-top: 30px;
    transition: all ease-in-out 0.5s;
}

.download:hover{
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    #about .about-content .about-left {
        width: 600px;
    }
} 

@media only screen and (max-width: 1120px) {
    #about .about-content .about-left {
        width: 500px;
    }
}  

@media only screen and (max-width: 1050px) {
    #what_i_do .do-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

@media only screen and (max-width: 1000px) {
    #about .about-content .about-left {
        width: 800px;
    }

    #about .about-content .about-left h1{
        text-align: center;
    }

    #about .about-content .about-left p{
        text-align: center;
        margin-bottom: 40px;
    }

    #about .about-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .line{
        left: 45%;
    }

    #about #stats{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 1100px;
        margin: auto;
    }

    #about #stats .stat{
        margin-bottom: 40px;
        width: 200px;
    }

} 

@media only screen and (max-width: 860px) {
    #about .about-content .about-left {
        width: 700px;
    }

    .line{
        left: 42%;
    }

    #about #stats{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0rem;
        width: 300px;
        margin: auto
    }

    #about #stats .stat{
        margin-bottom: 40px;
        width: 100px;
    }
}

@media only screen and (max-width: 770px) {
    #navbar{
        opacity: 1;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0px;
        overflow:hidden;
        height:100vh;
    }



    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #about .about-content .about-left {
        width: 600px;
    }

}

@media only screen and (max-width: 700px) {
    #header .content2 #typed {
        font-size: 30px;
    }

    .line{
        left: 41%;
    }
}

@media only screen and (max-width: 650px) {
    #about .about-content .about-left {
        width: 550px;
    }

    #about #stats{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0rem;
        width: 100px;
        margin: auto
    }

    #resume .res-tit{
        text-align: center;
    }

    #resume .resume-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .download{
        left: 37%;
    }
    
}

@media only screen and (max-width: 590px) {
    #about .about-content .about-left {
        width: 450px;
    }

    .line{
        left: 40%;
    }
}

@media only screen and (max-width: 550px) {
    #what_i_do .do-content .do-left .b-1 i,
    #what_i_do .do-content .do-right .b-1 i{
        font-size: 20px;
        margin-right: 20px;
        background-color: #fff;
        padding: 15px;
        box-shadow: 2px 2px 20px -2px rgba(0,0,0,0.25);
        border-radius: 10px;
        color: #09b883;
    }

    #what_i_do .do-content .do-left .b-1 h1,
    #what_i_do .do-content .do-right .b-1 h1{
        margin-bottom: 10px;
        font-size: 20px;
    }

    #what_i_do .do-content .do-left .b-1 p,
    #what_i_do .do-content .do-right .b-1 p{
        font-size: 16px;
        width: 350px;
    }
}

@media only screen and (max-width: 500px){
    #about .about-content .about-left {
        width: 380px;
    }

    #about .about-content .about-left p{
        text-align: justify;
    }

    .line{
        left: 38%;
    }
}

@media only screen and (max-width: 480px){
    #what_i_do .do-content .do-left .b-1 p,
    #what_i_do .do-content .do-right .b-1 p{
        font-size: 16px;
        width: 300px;
    }

    .download{
        left: 30%;
    }
}

@media only screen and (max-width: 450px){
    #about .about-content .about-left {
        width: 300px;
    }

    #about .about-content .about-left p{
        text-align: justify;
    }

    .download{
        left: 28%;
    }
}

@media only screen and (max-width: 410px){
    #what_i_do .do-content .do-left .b-1 p,
    #what_i_do .do-content .do-right .b-1 p{
        font-size: 14px;
        width: 280px;
    }

    #what_i_do .do-content .do-left .b-1 i, 
    #what_i_do .do-content .do-right .b-1 i {
        font-size: 15px;
        margin-right: 20px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 2px 2px 20px -2px rgb(0 0 0 / 25%);
        border-radius: 10px;
        color: #09b883;
    }

    #what_i_do .do-content .do-left .b-1 .fa-mobile,
    #what_i_do .do-content .do-right .b-1 .fa-mobile{
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 380px){
    #about .about-content .about-left {
        width: 270px;
    }

    #about .about-content .about-left p{
        text-align: justify;
    }

    .line{
        left: 36%;
    }
}

@media only screen and (max-width: 360px) {
    #header .content2 h1{
        font-size: 20px;
    }

    #header .content2 #typed {
        font-size: 25px;
    }

    #header .content2 p {
        font-size: 16px;
    }

    #what_i_do .do-content .do-left .b-1 p,
    #what_i_do .do-content .do-right .b-1 p{
        font-size: 14px;
        width: 230px;
    }
}

@media only screen and (max-width: 320px){
    #what_i_do .do-content .do-left .b-1,
    #what_i_do .do-content .do-right .b-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    #what_i_do .do-content i{
        margin-bottom: 20px;
        position: relative;
        left: 10px;
    }

    .download{
        left: 25%;
    }
}

@media only screen and (max-width: 300px){
    #about .about-content{
        width: 230px;
    }

    #about .about-content p{
        font-size: 14px;
    }

    #about .about-content .about-left {
        width: 230px;
    }

    #about .about-content .about-left p{
        text-align: justify;
    }

    .line{
        left: 35%;
    }
}